.colection__title {
    margin-bottom: 24px;

    @include mobile {
        margin-bottom: 8px;
    }
}
.colection__cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @include mobile {
        gap: 16px;
    }
}
.colection__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;

    @include mobile {
        gap: 24px;
    }
}